<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4Net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <!--Log4Net Event Configuration-->
  <log4net>
    <appender name="RollingLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="log.log" />
      <PreserveLogFileNameExtension value="true"/>
      <appendToFile value="false" />
      <rollingStyle value="Composite"/>
      <datePattern value="_MMddyyyy"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="10KB"/>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingLogFile" />
    </root>
  </log4net>
</configuration>
